snippet ghdl
rem simulate $1.vhd
echo off

echo %project_root%
FOR /F "tokens=* USEBACKQ" %%F IN (`git rev-parse --show-toplevel`) DO (
SET project_root=%%F
)
SET source=%project_root%/source

ghdl -a --ieee=synopsys ..\\$1_pkg.vhd
ghdl -a --ieee=synopsys ..\\$1.vhd
ghdl -a --ieee=synopsys tb_$1.vhd
ghdl -e --ieee=synopsys tb_$1
ghdl -r --ieee=synopsys tb_$1 --wave=tb_$1.ghw


IF %1 EQU 1 start "" gtkwave tb_$1.ghw
endsnippet
